/* Handles styling of buttons */
.button {
    -fx-background-color: #416989;
    -fx-border-color: transparent;
    -fx-background-radius: 10;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #416989;
    -fx-cursor: pointer;
}

.button:focused {
    -fx-border-color: transparent;
    -fx-text-fill: white;
}
