/* Handles styling of buttons */
.button {
    -fx-background-color: derive(#3c3c3c, 20%);
    -fx-border-color: transparent;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: white;
    -fx-background-radius: 10;
}

.button:hover {
    -fx-cursor: hand;
    -fx-background-color: #3c3c3c;
}

.button:focused {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.button:pressed {
    -fx-text-fill: white;
}

/* New class for the selected button */
.selected-button {
    -fx-background-color: #416989 !important;
}
